html,body,h1,h2,h3,h4,h5,h6,p,img,div,ul,li,a {
	margin: 0;
	padding: 0;
}
body {
	background-color: rgba(255,255,255,1.00);
	font-size: 100%;
	color: rgba(0,0,0,1.00);
}
#wrapper {
	width: 100%;
}
header,nav,section,footer,#banner,#aboutnews,#cube,#key,#coin {
	float: left;
}
header {
	width: 100%;
}
header img {
    width: 55%;
    margin: 10px 0 3px 5px;
}
#banner {
	width:100%;
}
#banner img {
	max-width:100%;
}
nav {
	text-align: center;
	width: 100%;
	background-color: rgba(92,147,137,1.00);
	
}
nav ul {
	list-style-type: none;
	padding:0.5em 0 2em 0em;
}
nav ul li {
	width: 25%;
	float: left;
	margin: 0 auto;	
}
nav ul li a:link {
	width: 100%;
	height: 100%;
  font-family: "微軟正黑體", "標楷體", "Arial";
  font-size: 1em;
  color: rgba(255,255,255,1.00);
  text-decoration: none;
}
nav ul li a:visited {
  color: #F5F5F5;
}
nav ul li a:hover {
  color: #ADFF2F;
}
nav ul li a:active {
  color: #32CD32;
}
section {
	font-family: "微軟正黑體", "標楷體", "Arial";
	color: rgba(0,0,0,1.00);
	font-size: 1em;
  width: 100%;
}
#about {
	text-align: center;
	margin: 50px 0px 50px 0px;
	padding:3em 0 4em 0;
}
#about p {
	padding: 0.1em 2em;

}
#about img {
	width: 40%;
}

#cube,#key,#coin {
	background-color: rgba(92,147,137,1.00);
	text-align: center;
}
#cube {
	padding: 5em 0 0 0;
}
#key {
	padding: 5em 0;
}
#coin {
	padding: 0 0 5em 0;
}
#cube img,#key img,#coin img {
	width: 20%;
}
#cube p,#key p,#coin p {
	padding: 0.1em 1.5em;
}
#cube h2,#key h2,#coin h2 {
	padding: 0.3em 0;
}
#category {
	text-align: center;
	margin: 3em 0em;
}
#category h2 {
	padding: 0.8em 0;
}
#category h3 {
	padding: 2.5em 0 0.8em 0;
}
#category p {
	padding: 0  1.5em 0.5em 1.7em;
}
#category img {
	width: 80%;
}
#photoShow h2 {
	padding: 2.5em 0 0.5em 0;
}

#home {
	text-align: center;
	margin: 1.5em 0em;
}

#home h3 {
	padding: 1em 0 0.3em 0;
}
#home p {
	padding: 0 1em 0 1em;
}
#gomaps {
	margin: 3.5em 0 2.5em 0;
	width: 90%;
	height: 300px;
}
footer {
	width: 100%;
	font-family: "微軟正黑體", "標楷體", "Arial";
  font-size: 0.8em;
	text-align: center;
	color: rgba(255,255,255,1.00);
	background-color: rgba(0,0,0,1.00);
  padding: 1em 0;
}
footer a {
	color: rgba(200,200,200,1.00);
}
/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-bottom: 25px;
  display: none;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  border-radius: 5px;
}
/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  display: none;
  left: 10px;
  background: url('images/controls.png') no-repeat 0 -32px;
}
.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-prev:focus {
  background-position: 0 0;
}
.bx-wrapper .bx-next {
  display: none;
  right: 10px;
  background: url('images/controls.png') no-repeat -43px -32px;
}
.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-next:focus {
  background-position: -43px 0;
}
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
}
.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}
/* 40px */
.toTop-arrow {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 33%;
  opacity: 0.6;
  background: #000;
  cursor: pointer;
  position:fixed;
  right: 1rem;
  bottom: 2rem;
  display: none;
}
.toTop-arrow::before, .toTop-arrow::after {
  width: 18px;
  height: 5px;
  border-radius: 3px;
  background: #99FF33;
  position: absolute;
  content: "";
}
.toTop-arrow::before {
  transform: rotate(-45deg) translate(0, -50%);
  left: 0.5rem;
}
.toTop-arrow::after {
  transform: rotate(45deg) translate(0, -50%);
  right: 0.5rem;
}
.toTop-arrow:focus {outline: none;}
@media screen and (min-width: 481px) and (max-width: 768px) {

nav ul {
	padding:0.6em 0 2.4em 0em;
}
nav ul li {
	font-size: 1.3em;
}
section h2 {
	font-size: 2em;
}
section p {
	font-size: 1.5em
}
#about {
	padding:4em 0 5em 0;
}
#about img {
	width: 40%;
}
#cube img,#key img,#coin img {
	width: 15%;
}
#category h3 {
    font-size: 1.7em;
}
#category img {
	width: 60%;
}
#home h2 {
	padding-top: 1.5em;
}
#home h3 {
	font-size: 1.8em
}
#gomaps {
	height: 450px;
}	
footer {
	font-size: 1.5em;
}
/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-bottom: 25px;
  display: none;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  border-radius: 5px;
}
/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  display: block;
  left: 10px;
  background: url('images/controls.png') no-repeat 0 -32px;
}
.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-prev:focus {
  background-position: 0 0;
}
.bx-wrapper .bx-next {
  display: block;
  right: 10px;
  background: url('images/controls.png') no-repeat -43px -32px;
}
.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-next:focus {
  background-position: -43px 0;
}
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
}
.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}
/* 48px */
.toTop-arrow {
  width: 3rem;
  height: 3rem;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 38%;
  opacity: 0.6;
  background: #000;
  cursor: pointer;
  position:fixed;
  right: 1rem;
  bottom: 2rem;
  display: none;
}
.toTop-arrow::before, .toTop-arrow::after {
  width: 25px;
  height: 6px;
  border-radius: 3px;
  background: #99FF33;
  position: absolute;
  content: "";
}
.toTop-arrow::before {
  transform: rotate(-45deg) translate(0, -50%);
  left: 0.42rem;
}
.toTop-arrow::after {
  transform: rotate(45deg) translate(0, -50%);
  right: 0.42rem;
}
.toTop-arrow:focus {outline: none;}
}
@media screen and (min-width: 769px){

header img {
    width: 16%;
    margin: 10px 0 3px 5px;
}
#about {
	padding:4em 0 5em 0;
}
#about p {
	padding: 0.1em 0em;

}
#about img {
	width: 13%;
}
#cube,#key,#coin {
	width: 33.3%;
	padding: 10em 0 10em 0;
}
#cube img,#key img,#coin img {
	width: 15%;
}
#cube p,#key p,#coin p {
	min-height: 6.6em;
}
#category p {
	padding: 0 1em 0.5em 1em;
}
#category img {
	width: 55%;
}
#photoShow {
  width: 70%;
  margin:0 auto;
  text-align: center;
}

.photobox {
	float: left;
  width: 50%;
}

.Height {
	min-height: 2.7em;
}
#gomaps {
	width: 50%;
	height: 470px;
}	
footer {
	font-size: 1em;
}
/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-bottom: 25px;
  display: block;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  border-radius: 5px;
}
/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  display: block;
  left: 10px;
  background: url('images/controls.png') no-repeat 0 -32px;
}
.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-prev:focus {
  background-position: 0 0;
}
.bx-wrapper .bx-next {
  display: block;
  right: 10px;
  background: url('images/controls.png') no-repeat -43px -32px;
}
.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-next:focus {
  background-position: -43px 0;
}
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
}
.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}
/* 56px */
.toTop-arrow {
  width: 3.5rem;
  height: 3.5rem;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 38%;
  opacity: 0.6;
  background: #000;
  cursor: pointer;
  position:fixed;
  right: 1rem;
  bottom: 2rem;
  display: none;
}
.toTop-arrow::before, .toTop-arrow::after {
  width: 31px;
  height: 7px;
  border-radius: 3px;
  background: #99FF33;
  position: absolute;
  content: "";
}
.toTop-arrow::before {
  transform: rotate(-45deg) translate(0, -50%);
  left: 0.4rem;
}
.toTop-arrow::after {
  transform: rotate(45deg) translate(0, -50%);
  right: 0.4rem;
}
}